
	
.required:after {
    content: "*";
    color:red;
 
}

.results {
  font-style: normal;
  font-weight: 200;
  font-size:medium;
}

div.img {
   width:100px; /*width of your image*/
   height:100px; /*height of your image*/
   background-image:url('yourimage.file');
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
}
inputClass {
 width:100px;
}
